<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerDirection]="'back'" [routerLink]="'/admin-page'">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>SubCategorías</ion-title>  
    <ion-button slot="end" (click)="agregar()">
      <ion-icon name="add-outline">  </ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-searchbar placeholder="Buscar SubCategoría"></ion-searchbar>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let subcat of arraySubCategorias">
      <ion-label>
        <h5>ID SubCategoría: {{ subcat.id }}</h5>
        <p>Nombre SubCategoría: {{ subcat.nombre }}</p>
        <p>Categoria relacionada: {{ subcat.nombreCategoria }}</p>
      </ion-label>
      <ion-button 
        fill="solid" 
        color="warning" 
        slot="end" 
        (click)="presentActionSheet(subcat)" 
        style="padding: 0; margin: 0;">
        Más Acciones
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
