.grid1 {
    height: 100%;
    padding: 0px;
}

.contaier-login {
    width: 90%;
    height: 50px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}


.row1 {
    height: 50%;
    background:#cd995a
}

.row2 {
    height: 50%;
    background:#edb98f;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-card {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}