<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Registro de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="productosVendidos.length > 0">
    <ion-item *ngFor="let producto of productosVendidos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: {{ producto.precio | currency }}</p>
        <p>Cantidad Vendida: {{ producto.cantidad }}</p>
        <p>Subtotal: {{ producto.subtotal | currency }}</p>
        <p>Comprador: {{ producto.compradorEmail }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="productosVendidos.length === 0" color="danger">
    <ion-card class="ion-text-center">No hay productos vendidos en la tienda</ion-card>
  </ion-text>
</ion-content>