<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Registro de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let compra of compras">
      <ion-label>
        <h2>Compra ID: {{ compra.id }}</h2>
        <p>Fecha: {{ compra.fecha_creacion }}</p>
        <p>Total: ${{ compra.total }}</p>
        <p>Estado: {{ compra.estado }}</p>
      </ion-label>
      <ion-button (click)="mostrarDetalles(compra.id)">Detalles</ion-button>
    </ion-item>
  </ion-list>
</ion-content>