<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>    
    <ion-buttons slot="end">
      <ion-button type="submit" form="addCategoryForm" fill="clear" expand="full">
        Agregar
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header class="custom-card-header">Formulario Categorías</ion-card-header>
  <form id="addCategoryForm" (ngSubmit)="agregarCategoria()">

    <ion-item>
      <ion-label position="floating">Nombre Categoría</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" minlength="5"  required #categoryCtrl="ngModel"></ion-input>
      <ion-button fill="outline" slot="end" (click)="clearNombre()">
        <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <div *ngIf="categoryCtrl.invalid && (categoryCtrl.dirty || categoryCtrl.touched)" class="error-message">
      El nombre de la Categoría es obligatorio y debe tener al menos 5 caracteres y un maximo de 50.
    </div>
  </form>
</ion-card>
</ion-content>
