<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>    
    <ion-buttons slot="end">
      <ion-button type="submit" form="addCategoryForm" fill="clear" expand="full">
        Agregar
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header class="ion-text-center" color="primary">Formulario Categorías</ion-card-header>
  <form id="addCategoryForm" (ngSubmit)="agregarCategoria()">

    <ion-item>
      <ion-label position="floating">Nombre Categoría</ion-label>
      <ion-input type="text" [(ngModel)]="categoryName" name="categoryName" required minlength="5" required #pNombreCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="pNombreCtrl.invalid && (pNombreCtrl.dirty || pNombreCtrl.touched)" class="error-message">
      El nombre de la Categoría es obligatorio y debe tener al menos 5 caracteres.
    </div>


  </form>
</ion-card>
</ion-content>
