<ion-header>
  <ion-toolbar>
    <ion-title>{{ producto.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p><strong>Descripción:</strong> {{ producto.description }}</p>
  <p><strong>Precio:</strong> {{ producto.price | currency }}</p>
  <p><strong>Stock:</strong> {{ producto.stock }}</p>
  <p><strong>Orgánico:</strong> {{ producto.isOrganic ? 'Sí' : 'No' }}</p>
</ion-content>
