<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Productos en tienda</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="agregarProducto()">
        Agregar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productos && productos.length > 0">
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio | currency }}</p>
      </ion-label>
      <ion-button color="primary" (click)="verDetalle(producto.id)">
        Detalle
      </ion-button>
      <ion-button color="secondary" (click)="modificarProducto(producto.id)">
        Modificar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="!productos || productos.length === 0">
  <ion-text color="danger">
    <h2>No hay productos disponibles.</h2>
  </ion-text>
</ion-content>