<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Gestionar un producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de búsqueda -->
  <ion-searchbar [(ngModel)]="searchQuery" placeholder="Buscar productos"></ion-searchbar>

  <!-- Lista de productos -->
  <ion-list>
    <ion-item *ngFor="let producto of getProductosFiltrados()">
      <ion-label>
        <h2>{{ producto.nombre_producto }}</h2>
        <p>{{ producto.descripcion_producto }}</p>
        <p>Precio: {{ producto.precio }} | Stock: {{ producto.stock }}</p>
        <p>Orgánico: {{ producto.organicoEnTexto }}</p>
      </ion-label>
      <!-- Botón para modificar producto -->
      <ion-button color="primary" (click)="mostrarAlertaModificar(producto)">Modificar</ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para agregar nuevo producto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarAlertaAgregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>