ion-thumbnail {
    width: 100px !important;
    height: 100px !important;

    img {
        border-radius: 10px;
    }
}

.button-container {
    position: absolute; 
    top: 0px;         
    right: 00px;     
    z-index: 1;  
  }