<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header class="custom-card-header">Detalles SubCategoría</ion-card-header>

    <ion-item>
      <ion-label position="floating">Nombre SubCategoría</ion-label>
      <ion-input [disabled]="isDisabled" type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Seleccionar Categoría:</ion-label>
      <ion-select [disabled]="isDisabled" [(ngModel)]="categoria_id" name="categoria_id">
        <ion-select-option *ngFor="let categoria of arrayCmbCategorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

</ion-card>
</ion-content>
