.button-container {
    display: flex;
    justify-content: center; 
    width: 100%; /* Ajusta según sea necesario */
  }


.fixed-size {
  width: 200px; /* Ajusta según sea necesario */
  height: 50px; /* Ajusta según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap; /* Evita que el texto se desborde */
} //esto es para ajustar el texto que esta adentro del boton

ion-avatar {
  width: 130px; 
  height: 130px; 
}