<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="datos">
  <ion-card>
    <form (ngSubmit)="actualizarUsuario()">
      <ion-item style="align-items: center; flex-direction: column;">
        <ion-button (click)="takePicture()">Cambiar Foto</ion-button><br>

        <div style="margin-top: 15px; display: flex; justify-content: center; align-items: center;">
          <ion-avatar
            style="background-color: #F5F5DC; width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
            <img *ngIf="usuario.foto_perfil" [src]="usuario.foto_perfil" alt="avatar"
              style="width: 100%; height: 100%; object-fit: cover;" />
          </ion-avatar>
        </div>
      </ion-item>

      <!-- Nombre -->
      <ion-item>
        <ion-input label="Nombre" type="text" [(ngModel)]="usuario.nombre" labelPlacement="stacked"
          placeholder="Ingresar Nombre" name="nombre" required minlength="2" maxlength="40"
          #nombreCtrl="ngModel"></ion-input>
        <ion-button fill="outline" slot="end" (click)="clearPNombre()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="nombreCtrl.invalid && (nombreCtrl.dirty || nombreCtrl.touched)" class="error-message">
        El primer nombre es obligatorio y debe tener entre 2 y 40 caracteres.
      </div>

      <!-- Apellido Paterno -->
      <ion-item>
        <ion-input label="Apellido Paterno" type="text" [(ngModel)]="usuario.apellido_paterno" labelPlacement="stacked"
          placeholder="Ingresar Apellido" name="apellido_paterno" required minlength="2" maxlength="40"
          #apellidoPaternoCtrl="ngModel"></ion-input>
        <ion-button fill="outline" slot="end" (click)="clearAPaterno()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="apellidoPaternoCtrl.invalid && (apellidoPaternoCtrl.dirty || apellidoPaternoCtrl.touched)"
        class="error-message">
        El apellido paterno es obligatorio y debe tener entre 2 y 40 caracteres.
      </div>

      <!-- Segundo Nombre (Opcional) -->
      <ion-item>
        <ion-input label="Segundo Nombre (Opcional)" type="text" [(ngModel)]="usuario.segundo_nombre"
          labelPlacement="stacked" placeholder="Ingresar Segundo Nombre" name="segundo_nombre" minlength="2"
          maxlength="40" #segundoNombreCtrl="ngModel"></ion-input>
        <ion-button fill="outline" slot="end" (click)="clearSNombre()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="segundoNombreCtrl.invalid && (segundoNombreCtrl.dirty || segundoNombreCtrl.touched)"
        class="error-message">
        El segundo nombre debe tener entre 2 y 40 caracteres.
      </div>

      <!-- Apellido Materno (Opcional) -->
      <ion-item>
        <ion-input label="Apellido Materno (Opcional)" type="text" [(ngModel)]="usuario.apellido_materno"
          labelPlacement="stacked" placeholder="Ingresar Apellido Materno" name="apellido_materno" minlength="2"
          maxlength="40" #apellidoMaternoCtrl="ngModel"></ion-input>
        <ion-button fill="outline" slot="end" (click)="clearAMaterno()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="apellidoMaternoCtrl.invalid && (apellidoMaternoCtrl.dirty || apellidoMaternoCtrl.touched)"
        class="error-message">
        El apellido materno debe tener entre 2 y 40 caracteres.
      </div>

      <!-- Email (No Editable) -->
      <ion-item>
        <ion-input label="Email (No editable)" type="email" [(ngModel)]="usuario.email" labelPlacement="stacked"
          name="email" readonly></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Región</ion-label>
        <ion-select [(ngModel)]="usuario.region_id" (ionChange)="cargarcomunas($event.detail.value)" name="region"
          required #regionCtrl="ngModel">
          <ion-select-option *ngFor="let region of regiones" [value]="region.id">
            {{ region.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="regionCtrl.invalid && (regionCtrl.dirty || regionCtrl.touched)" class="error-message">
        La región es obligatoria.
      </div>

      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-select [(ngModel)]="usuario.comuna_id" name="comuna" #comunaCtrl="ngModel" required>
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
            {{ comuna.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="comunaCtrl.invalid && (comunaCtrl.dirty || comunaCtrl.touched)" class="error-message">
        La comuna es obligatoria.
      </div>



      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input id="autoscroll-input" [(ngModel)]="usuario.direccion" name="direccion" required
          placeholder="Ingresa o usa el Marcador (automatico)" #dirCtrl="ngModel"></ion-input>
        <ion-button fill="outline" slot="end" (click)="clearDirr()">
          <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
        </ion-button>
        <ion-button fill="outline" slot="end" (click)="useCurrentLocation()">
          <ion-icon name="location-sharp"></ion-icon>
        </ion-button>
      </ion-item>
      <div *ngIf="dirCtrl.invalid && (dirCtrl.dirty || dirCtrl.touched)" class="error-message">
        La dirección es obligatoria y debe tener un formato válido.
      </div><br>

      <div class="ion-text-center" *ngIf="errorMessage" class="error-message" style="margin-left: 10px; margin-right: 10px;">
        {{ errorMessage }}
      </div>


      <ion-button style="margin: 20px 20px;" expand="full" type="submit">Actualizar</ion-button>
    </form>
  </ion-card>
</ion-content>