<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="isDesactivado" (click)="recuperarPassword()" [strong]="true">Enviar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="upper">
    <ion-card>
      <div class="flex-center">
        <ion-avatar slot="start" style="background-color: #8b4513">
          <img src="../assets/icon/Logo_name_out.png" alt="avatar" />
        </ion-avatar>
      </div>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          Cambie su contraseña
        </ion-card-title>
        <ion-card-subtitle>
          Ingrese su nueva contraseña para el correo de su cuenta.
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Formulario de Contraseña
      </ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="cambiarContraseña()">
      <ion-item>
        <ion-input label="Contraseña" type="password" [(ngModel)]="password" labelPlacement="stacked"
          placeholder="Ingresar Contraseña" name="password" required minlength="10" #passwordCtrl="ngModel">
          <div slot="end">
            <ion-input-password-toggle></ion-input-password-toggle>
          </div>
        </ion-input>
      </ion-item>
      <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error-message">
        Requisitos Contraseña:
        Entre 10 y 30 caracteres.
        Minimo 1 caracter especial.
        No tener caracteres o numeros consecutivos.
        Tener 2 letras mayusculas.
      </div>
      <ion-item>
        <ion-input label="Confirmar Contraseña" type="password" [(ngModel)]="confirmPassword" labelPlacement="stacked"
        placeholder="Confirmar Contraseña" name="confirmPassword" required minlength="10" #confirmPasswordCtrl="ngModel">
          <div slot="end">
            <ion-input-password-toggle></ion-input-password-toggle>
          </div>
        </ion-input>
      </ion-item>
      <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched)" class="error-message">
        Requisitos Contraseña:
        Entre 10 y 30 caracteres.
        Minimo 1 caracter especial.
        No tener caracteres o numeros consecutivos.
        Tener 2 letras mayusculas.
      </div>
    </form>
  </ion-card>
</ion-content>