<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Boleta de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center">
  <ion-card>
    <ion-list>
      <ion-searchbar animated="true" placeholder="Buscar Producto Boleta"></ion-searchbar>

      <ion-item *ngFor="let producto of productos">
        <ion-avatar slot="start">
          <img src="../assets/icon/favicon.png" />
        </ion-avatar>
        <ion-label>
          <strong><b>{{ producto.nombre }}</b></strong><br>
          <strong><b>Valor:</b> {{ producto.valor }}</strong>
          <p><b>Descripción:</b> {{ producto.descripcion }}</p>
          <p><b>Fecha:</b> {{ producto.fecha }}</p>
          <p><b>Hora:</b> {{ producto.hora }}</p>
        </ion-label>
        <ion-button expand="block" fill="outline" slot="end" (click)="mostrarResumen(producto)">
          Resumen
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>