<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>¡Regístrate!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <div class="flex-center">
        <ion-avatar slot="start" style="background-color: #8b4513;">
          <img src="../../assets/icon/Logo_name_out.png" alt="avatar" />
        </ion-avatar>
      </div>

      <ion-card-header class="ion-text-center"
        style="border-top: 0.5px solid #0000003d; margin: 10px; padding-bottom: 10px;">
        <ion-card-title color="primary">Crea tu cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="registrarse()">

          <!-- Foto -->
          <ion-item style="align-items: center; flex-direction: column;">
            <ion-button (click)="takePicture()">Foto Perfil</ion-button><br>

            <div style="margin-top: 15px; display: flex; justify-content: center; align-items: center;">
              <ion-avatar
                style="background-color: #F5F5DC; width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
                <img *ngIf="foto_perfil" [src]="foto_perfil" alt="avatar"
                  style="width: 100%; height: 100%; object-fit: cover;" />
              </ion-avatar>
            </div>
          </ion-item>

          <!-- Nombre -->
          <ion-item>
            <ion-input label="Nombre" type="text" [(ngModel)]="pNombre" labelPlacement="stacked"
              placeholder="Ingresar Nombre" name="pNombre" required minlength="2" #pNombreCtrl="ngModel"></ion-input>
            <ion-button fill="outline" slot="end" (click)="clearPNombre()">
              <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="pNombreCtrl.invalid && (pNombreCtrl.dirty || pNombreCtrl.touched)" class="error-message">
            El primer nombre es obligatorio y debe tener entre 2 y 40 caracteres.
          </div>

          <!-- Apellido Paterno -->
          <ion-item>
            <ion-input label="Apellido Paterno" type="text" [(ngModel)]="aPaterno" labelPlacement="stacked"
              placeholder="Ingresar Apellido" name="aPaterno" required minlength="2"
              #aPaternoCtrl="ngModel"></ion-input>
            <ion-button fill="outline" slot="end" (click)="clearAPaterno()">
              <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="aPaternoCtrl.invalid && (aPaternoCtrl.dirty || aPaternoCtrl.touched)" class="error-message">
            El apellido paterno es obligatorio y debe tener entre 2 y 40 caracteres.
          </div>

          <!-- Contraseña -->
          <ion-item>
            <ion-input label="Contraseña" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"
              labelPlacement="stacked" placeholder="Ingresar Contraseña" name="password" required minlength="10"
              #passwordCtrl="ngModel">
            </ion-input>
            <ion-button fill="clear" slot="end" (click)="showPassword = !showPassword">
              <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error-message">
            Requisitos Contraseña:
            <ul>
              <li>Entre 10 y 30 caracteres.</li>
              <li>Debe contener al menos un carácter especial.</li>
              <li>No tener caracteres o números consecutivos repetidos.</li>
              <li>Debe contener al menos dos letras mayúsculas.</li>
            </ul>
          </div>

          <!-- Confirmar Contraseña -->
          <ion-item>
            <ion-input label="Confirmar Contraseña" [type]="showConfirmPassword ? 'text' : 'password'"
              [(ngModel)]="confirmPassword" labelPlacement="stacked" placeholder="Repetir Contraseña"
              name="confirmPassword" required minlength="10" #confirmPasswordCtrl="ngModel">
            </ion-input>
            <ion-button fill="clear" slot="end" (click)="showConfirmPassword = !showConfirmPassword">
              <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched)"
            class="error-message">
            Las contraseñas deben coincidir.
          </div>

          <!-- Región -->
          <ion-item>
            <ion-label>Región</ion-label>
            <ion-select [(ngModel)]="selectedRegion" #regionCtrl="ngModel" (ionChange)="cargarcomunas($event)"
              name="region" required>
              <ion-select-option *ngFor="let region of regiones" [value]="region.id">
                {{ region.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="regionCtrl.invalid && (regionCtrl.dirty || regionCtrl.touched)" class="error-message">
            La región es obligatoria.
          </div>

          <!-- Comuna -->
          <ion-item>
            <ion-label>Comuna</ion-label>
            <ion-select [(ngModel)]="selectedComuna" name="comuna" #comunaCtrl="ngModel" required
              [disabled]="!selectedRegion">
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
                {{ comuna.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="comunaCtrl.invalid && (comunaCtrl.dirty || comunaCtrl.touched)" class="error-message">
            La comuna es obligatoria.
          </div>

          <!-- Dirección -->
          <ion-item>
            <ion-input id="autoscroll-input" label="Dirección" type="text" [(ngModel)]="direccion"
              labelPlacement="stacked" placeholder="Escribe la ubicación o usa el Marcador (automatico)"
              name="direccion" required (ionChange)="onFieldsChange()" #dirCtrl="ngModel"></ion-input>
            <ion-button fill="outline" slot="end" (click)="clearDirr()">
              <ion-icon name="trash-bin-sharp" color="danger"></ion-icon>
            </ion-button>
            <ion-button fill="outline" slot="end" (click)="useCurrentLocation()">
              <ion-icon name="location-sharp"></ion-icon>
            </ion-button>
          </ion-item>
          <div *ngIf="dirCtrl.invalid && (dirCtrl.dirty || dirCtrl.touched)" class="error-message">
            La dirección es obligatoria y debe tener un formato válido.
          </div><br>

          <!-- Mensaje de error general -->
          <div class="ion-text-center" *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <ion-button type="submit" fill="solid" expand="full">Registrarse</ion-button>
        </form>

        <ion-button fill="clear" expand="full" routerLink="/login">¿Ya tienes cuenta? ¡Ingresa!</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>