<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>¡Regístrate!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <div class="flex-center">
        <ion-avatar slot="start" style="background-color: #8b4513;">
          <img src="../../assets/icon/Logo_name_out.png" alt="avatar" />
        </ion-avatar>
      </div>

      <ion-card-header class="ion-text-center"
        style="border-top: 0.5px solid #0000003d; margin: 10px; padding-bottom: 10px;">
        <ion-card-title color="primary">Crea tu cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>


        <form (ngSubmit)="registrarse()">

          <!-- Foto -->
          <ion-item style="align-items: center; flex-direction: column;">
            <ion-button (click)="takePicture()">Foto Perfil</ion-button><br>

            <div style="margin-top: 15px; display: flex; justify-content: center; align-items: center;">
              <ion-avatar
                style="background-color: #F5F5DC; width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
                <img *ngIf="foto_perfil" [src]="foto_perfil" alt="avatar"
                  style="width: 100%; height: 100%; object-fit: cover;" />
              </ion-avatar>
            </div>
          </ion-item>

          <!-- Nombre -->
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="pNombre" name="pNombre" required minlength="2" #pNombreCtrl="ngModel">
            </ion-input>
          </ion-item>
          <div *ngIf="pNombreCtrl.invalid && (pNombreCtrl.dirty || pNombreCtrl.touched)" class="error-message">
            El primer nombre es obligatorio y debe tener al menos 2 caracteres.
          </div>

          <!-- Apellido Paterno -->
          <ion-item>
            <ion-label position="floating">Apellido Paterno</ion-label>
            <ion-input type="text" [(ngModel)]="aPaterno" name="aPaterno" required minlength="2"
              #aPaternoCtrl="ngModel">
            </ion-input>
          </ion-item>
          <div *ngIf="aPaternoCtrl.invalid && (aPaternoCtrl.dirty || aPaternoCtrl.touched)" class="error-message">
            El apellido paterno es obligatorio y debe tener al menos 2 caracteres.
          </div>

          <!-- Segundo Nombre -->
          <ion-item>
            <ion-label position="floating">Segundo Nombre (Opcional)</ion-label>
            <ion-input type="text" [(ngModel)]="sNombre" name="sNombre" #sNombreCtrl="ngModel"></ion-input>
          </ion-item>

          <!-- Apellido Materno -->
          <ion-item>
            <ion-label position="floating">Apellido Materno (Opcional)</ion-label>
            <ion-input type="text" [(ngModel)]="aMaterno" name="aMaterno" #aMaternoCtrl="ngModel"></ion-input>
          </ion-item>

          <!-- Empresa -->
          <ion-item>
            <ion-label position="floating">Empresa (Opcional)</ion-label>
            <ion-input type="text" [(ngModel)]="empresa" name="empresa" (ionChange)="onFieldsChange()" #empresaCtrl="ngModel"></ion-input>
          </ion-item>

          <!-- Descripción Corta -->
          <ion-item>
            <ion-label position="floating">Descripción Corta (Opcional)</ion-label>
            <ion-textarea [(ngModel)]="descripcion_corta" name="descripcion_corta" (ionChange)="onFieldsChange()"></ion-textarea>
          </ion-item>

          <!-- Email -->
          <ion-item>
            <ion-input label="Correo" type="email" [(ngModel)]="email" labelPlacement="stacked" name="email"
              placeholder="Ingresar Correo" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="error-message">
            El email es obligatorio y debe tener un formato válido.
          </div>

          <!-- Contraseña -->
          <ion-item>
            <ion-input label="Contraseña" type="password" [(ngModel)]="password" labelPlacement="stacked"
              placeholder="Ingresar Contraseña" name="password" required minlength="10" #passwordCtrl="ngModel">
              <div slot="end">
                <ion-input-password-toggle></ion-input-password-toggle>
              </div>
            </ion-input>
          </ion-item>
          <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error-message">
            La contraseña es obligatoria y debe tener al menos 10 caracteres.
          </div>

          <!-- Región -->
          <ion-item>
            <ion-label>Región</ion-label>
            <ion-select [(ngModel)]="selectedRegion" (ionChange)="cargarcomunas($event)" name="region" required>
              <ion-select-option *ngFor="let region of regiones" [value]="region.id">
                {{ region.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Comuna -->
          <ion-item>
            <ion-label>Comuna</ion-label>
            <ion-select [(ngModel)]="selectedComuna" name="comuna" required [disabled]="!selectedRegion">
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
                {{ comuna.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Dirección -->
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input type="text" [(ngModel)]="direccion" name="direccion" required #dirCtrl="ngModel" placeholder="Ubicación manual o marcador (automatico)"></ion-input>
            <ion-button fill="outline" slot="end" (click)="useCurrentLocation()">
              <ion-icon name="location-sharp"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-button type="submit" fill="solid" expand="full">Registrarse</ion-button>
        </form>

        <ion-button fill="clear" expand="full" routerLink="/login">¿Ya tienes cuenta? ¡Ingresa!</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>