<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="detalles.length > 0">
    <ion-item *ngFor="let detalle of detalles">
      <ion-card>
        <ion-card-header>
          <ion-avatar style="background-color: #F5F5DC; margin: 10px;">
            <img *ngIf="detalle.foto_producto" [src]="detalle.foto_producto" alt="avatar" />
          </ion-avatar>
          <ion-card-title>{{ detalle.nombre }}</ion-card-title>
          <ion-card-subtitle>{{ detalle.descripcion }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
          <p><strong>Subtotal:</strong> {{ detalle.subtotal | currency }}</p>
        </ion-card-content>
      </ion-card>
      <ion-button color="danger" (click)="eliminarProducto(detalle.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-text *ngIf="detalles.length === 0" color="danger">
      <ion-card class="ion-text-center">No hay productos en el carrito</ion-card>
    </ion-text>

    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-label>$ {{ totalCompra }}</ion-label>
    </ion-item>

    <ion-button expand="full" (click)="confirmarCompra()" color="success">
      Confirmar Compra
    </ion-button>
  </ion-card>
</ion-content>