.container {
    width: 100%;

    ion-thumbnail {
        width: 100px !important;
        height: 100px !important;

        img {
            border-radius: 10px;
        }
    }
}

.rate{
    color: #13a47b;
}
#qty {
    margin-top:5px;
    .minus{
        font-weight:600;
        padding:5px;
        margin-right:20px;
    }
    .plus{
        margin-left:20px;
        font-weight:600;
        padding:5px;

    }
    #btn{
        padding:10px 20px;
        color:bisque;
        background-color: aqua;
    }
    ion-label{
        ion-icon{
            margin-right:10px;
            color: #50269f;
        }
    }
}