<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../assets/farmer.png"/>
              </ion-thumbnail>
              <ion-label>
                <h2>Farmer 
                  <span style="float: right; color:#69A03A;">test text product</span>
                </h2>
                <h3>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                </h3>
                <p class="rate">Calificación</p>
                <div id="qty">
                  <span class="minus"> - </span> 2
                  <span class="plus"> + </span>

                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../assets/farmer.png"/>
              </ion-thumbnail>
              <ion-label>
                <h2>Farmer 
                  <span style="float: right; color:#69A03A;">test text product</span>
                </h2>
                <h3>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                </h3>
                <p class="rate">Calificación</p>
                <div id="qty">
                  <span class="minus"> - </span> 2
                  <span class="plus"> + </span>

                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img src="../assets/farmer.png"/>
              </ion-thumbnail>
              <ion-label>
                <h2>Farmer 
                  <span style="float: right; color:#69A03A;">test text product</span>
                </h2>
                <h3>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                  <ion-icon name="leaf-outline"></ion-icon>
                </h3>
                <p class="rate">Calificación</p>
                <div id="qty">
                  <span class="minus"> - </span> 2
                  <span class="plus"> + </span>

                  <span style="float: right;">
                    <button id="btn">Add</button>
                  </span>
                </div>
              </ion-label>
            </ion-item>


          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>