<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Modificar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form (ngSubmit)="actualizarUsuario()">
      <ion-item style="align-items: center; flex-direction: column;">
        <ion-button (click)="takePicture()">Tomar Foto</ion-button><br>
    
        <div style="margin-top: 15px; display: flex; justify-content: center; align-items: center;">
          <ion-avatar style="background-color: #F5F5DC; width: 120px; height: 120px; border-radius: 50%; overflow: hidden;">
            <img *ngIf="usuario.foto_perfil" 
                 [src]="usuario.foto_perfil" 
                 alt="avatar" 
                 style="width: 100%; height: 100%; object-fit: cover;"/>
          </ion-avatar>
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" name="nombre" required placeholder="Ingresar Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Segundo Nombre (Opcional)</ion-label>
        <ion-input [(ngModel)]="usuario.segundo_nombre" name="segundo_nombre"
          placeholder="Ingresar Segundo Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Paterno</ion-label>
        <ion-input [(ngModel)]="usuario.apellido_paterno" name="apellido_paterno" required
          placeholder="Ingresar Apellido Paterno"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Materno (Opcional)</ion-label>
        <ion-input [(ngModel)]="usuario.apellido_materno" name="apellido_materno"
          placeholder="Ingresar Apellido Materno"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email (No editable)</ion-label>
        <ion-input [(ngModel)]="usuario.email" name="email" readonly placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre de la Empresa</ion-label>
        <ion-input [(ngModel)]="usuario.nombre_empresa" name="nombre_empresa"
          placeholder="Ingresar Nombre de la Empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción Corta</ion-label>
        <ion-input [(ngModel)]="usuario.descripcion_corta" name="descripcion_corta"
          placeholder="Ingresar Descripción Corta"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Región</ion-label>
        <ion-select [(ngModel)]="usuario.region_id" (ionChange)="cargarcomunas($event.detail.value)" name="region"
          required>
          <ion-select-option *ngFor="let region of regiones" [value]="region.id">
            {{ region.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Comuna</ion-label>
        <ion-select [(ngModel)]="usuario.comuna_id" name="comuna" required>
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.id">
            {{ comuna.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="usuario.direccion" name="direccion" required
          placeholder="Ingresar Dirección"></ion-input>
      </ion-item>

      <ion-button style="margin: 20px 20px;" expand="full" type="submit">Actualizar</ion-button>
    </form>
  </ion-card>
</ion-content>
