<ion-app>
  <ion-menu-toggle>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <div style="display: flex; align-items: center;">
            <ion-avatar style="background-color: #F5F5DC; margin: 10px;">
              <img src="../assets/icon/Logo_out.png" alt="avatar" />
            </ion-avatar>
            <ion-label class="ion-text-wrap" style="margin-left: 10px;">
              <p>{{ usuario?.nombre || 'Usuario' }}</p>
              <p>{{ userEmail || 'Email' }}</p>
            </ion-label>
          </div>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-card>
          <ion-list>
            <ion-item button (click)="navigateToCuenta()">
              <ion-icon name="person-circle"></ion-icon>
              <ion-label>Mi Cuenta</ion-label>
            </ion-item>
            <ion-item button (click)="navigateToInicio()">
              <ion-icon name="home"></ion-icon>
              <ion-label>Socios</ion-label>
            </ion-item>
            <ion-item button (click)="navigateToProductos()">
              <ion-icon name="bag"></ion-icon>
              <ion-label>Productos</ion-label>
            </ion-item>
            <ion-item button (click)="navigateToCompras()">
              <ion-icon name="pricetags"></ion-icon>
              <ion-label>Mis Compras</ion-label>
            </ion-item>
            <ion-item button (click)="navigateToCarrito()">
              <ion-icon name="cart"></ion-icon>
              <ion-label>Carrito</ion-label>
            </ion-item>
            <ion-item button (click)="Salir()">
              <ion-icon name="log-out"></ion-icon>
              <ion-label>Salir de la cuenta</ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>