<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Recuperacion de Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>    
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertPrompt()" [strong]="true">Enviar</ion-button>
    </ion-buttons>  
  
  </ion-toolbar>
  
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Modulo de Recuperacion de Contraseña</ion-card-title>
    <ion-card-subtitle>Bienvenido</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Si has olvidado tus credenciales para acceder, aca puedes solucionarlo. Simplemente Ingresa tu correo con el cual creaste la cuenta y podrás modificar tu contraseña.
  </ion-card-content>
</ion-card>

<ion-content [fullscreen]="false">
  <br/>
  <br/>
  <br/>
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Formulario de Recuperación</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-input type="email" label="Correo" labelPlacement="stacked" placeholder="Ingrese su correo"></ion-input>
    </ion-item>
  </ion-card>
  <br/>

</ion-content>
