<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="isDesactivado" (click)="presentAlertPrompt()" [strong]="true">Enviar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upper">
    <ion-card>
      <div class="flex-center">
        <ion-avatar slot="start" style="background-color: #8B4513">
          <img src="../assets/icon/Logo_name_out.png" alt="avatar" />
        </ion-avatar>
      </div>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Modulo de Recuperacion de Contraseña</ion-card-title>
        <ion-card-subtitle>
          Bienvenido<br>
          Si has olvidado tus credenciales para acceder, acá puedes solucionarlo. Simplemente ingresa tu correo con el cual creaste la cuenta y podrás modificar tu contraseña.
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Formulario de Recuperación</ion-card-title>
    </ion-card-header>
    <form (ngSubmit)="recuperarPassword()">
      <ion-item>
        <ion-input type="email" [(ngModel)]="correo" name="correo" placeholder="Ingrese su correo" (input)="recuperarPassword()"></ion-input>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
