<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Administración</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="flex-center">
        <ion-avatar style="background-color: #8B4513; margin: 10px;">
          <img src="../assets/icon/Logo_name_out.png" alt="avatar" />
        </ion-avatar>
      </div>
      <ion-card-title class="ion-text-center">Modulo de Administración</ion-card-title>
      <ion-card-subtitle>Bienvenido "{{ primerNombre }} {{ aPaterno }}"</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Acá podras realizar diferentes acciones, principalmente para gestionar los usuarios de la aplicación.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label class="ion-text-center"><strong>Opciones de Administración</strong></ion-label>
    </ion-item>
    <br>
    <div class="button-container">
      <ion-button id="modal-users" shape="round" class="fixed-size" [routerDirection]="'forward'"
        (click)="navigateToUsers()">Usuarios</ion-button>
    </div>
    <!--
    <br>
    <div class="button-container">
      <ion-button shape="round" class="fixed-size" [routerDirection]="'forward'"
        (click)="navigateToClients()">Clientes</ion-button>
    </div>
    <br> -->
  </ion-card>
  <div style="display: flex; justify-content: center;">
    <ion-button style="width: 80%;" expand="block" color="danger" [routerDirection]="'back'"
      [routerLink]="'/login'">Cerrar Sesión</ion-button>
  </div>
</ion-content>