<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Socios Agrícolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let vendedor of vendedores">
      <ion-label>
        <h2>{{ vendedor.nombre }} {{ vendedor.apellido_paterno }}</h2>
        <p>{{ vendedor.nombre_empresa }}</p>
      </ion-label>
      <ion-button (click)="acceder(vendedor.id)">Acceder</ion-button>
    </ion-item>
  </ion-list>
</ion-content>