<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
    <ion-icon name="notifications" slot="end"></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">2</ion-badge>
      <ion-icon name="cart" slot="end"></ion-icon>
      <ion-badge id="notifications-badge" color="danger">5</ion-badge>
        <img slot="end" src="../assets/farmer.png" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="image">
      <img src="../assets/farmer.png" />
      </div>
      <div class="desc">
      <h3>Farmer</h3>
      <p>FarmerAcorreo.cl</p>
      </div>
      <div class="edit">
      <ion-button color="danger">Edit</ion-button>
      </div>
    </div>


      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ userData.fstName }} {{ userData.fstSurname }}</ion-card-title>
          <ion-card-subtitle>{{ userData.mail }}</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
          <p><strong>Nombre:</strong> {{ userData.fstName }} {{ userData.sndName }}</p>
          <p><strong>Apellidos:</strong> {{ userData.fstSurname }} {{ userData.sndSurname }}</p>
          <p><strong>Correo:</strong> {{ userData.mail }}</p>
          <p><strong>Empresa:</strong> {{ userData.company }}</p>
          <p><strong>Estado del Usuario:</strong> {{ userData.uStatus }}</p>
          <p><strong>Tipo de Usuario:</strong> {{ userData.userType }}</p>
          <p><strong>Región:</strong> {{ userData.reg }}</p>
          <p><strong>Comuna:</strong> {{ userData.com }}</p>
          <p><strong>Dirección:</strong> {{ userData.loc }}</p>
        </ion-card-content>
      </ion-card>
    
</ion-content>