<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../assets/icon/favicon.png" />
      </ion-thumbnail>
      <ion-label>
        <div>
          <ion-button style="float: right; padding: 0px; margin: 0px;" fill="solid" color="warning" slot="end">
            <b>Editar</b>
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-label class="ion-toolbar">
          <strong><b>{{ userData.fstName }} {{ userData.fstSurname }}</b></strong><br>
          <strong>{{ userData.mail }}</strong>
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-grid>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center" color="primary"><b>
          Información del perfil</b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ userData.fstName }} {{ userData.sndName }}</p>
      <p><strong>Apellidos:</strong> {{ userData.fstSurname }} {{ userData.sndSurname }}</p>
      <p><strong>Correo:</strong> {{ userData.mail }}</p>
      <p><strong>Empresa:</strong> {{ userData.company }}</p>
      <p><strong>Estado del Usuario:</strong> {{ userData.uStatus }}</p>
      <p><strong>Tipo de Usuario:</strong> {{ userData.userType }}</p>
      <p><strong>Región:</strong> {{ userData.reg }}</p>
      <p><strong>Comuna:</strong> {{ userData.com }}</p>
      <p><strong>Dirección:</strong> {{ userData.loc }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>