<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerDirection]="'back'" [routerLink]="'/admin-page'">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>  
    <ion-button slot="end" (click)="agregar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-searchbar     
      placeholder="Buscar Usuario(s)" 
      [(ngModel)]="searchTerm" 
      (ionInput)="searchUsuarios()">
    </ion-searchbar>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let user of filteredUsuarios">
      <ion-label>
        <h5>ID Usuario: {{ user.id }}</h5>
        <p>Nombre: {{ user.nombreCompleto }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Empresa: {{ user.empresaMostrarListar }}</p>
        <p>Descripción Empresa: {{ user.descripcionMostrarListar }}</p>
        <p>Tipo Usuario: {{ user.descTipUser }}</p>
      </ion-label>
      <ion-button 
        fill="solid" 
        color="warning" 
        slot="end" 
        (click)="presentActionSheet(user)" 
        style="padding: 0; margin: 0;">
        Más Acciones
      </ion-button>
    </ion-item>
    <ion-item *ngIf="filteredUsuarios.length === 0">
      <ion-label>
        <h5>Ups... Usuario(s) no encontrado(s).</h5>
        <P>Deje la barra de búsqueda vacía o busque nuevamente lo que desea.</P>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>