<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerDirection]="'back'" [routerLink]="'/admin-page'">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
    <ion-button slot="end" (click)="presentModal()">
      <ion-icon name="add-outline"> </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <ion-grid><ion-searchbar placeholder="Buscar Cliente"></ion-searchbar></ion-grid>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of items; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item }}
          <ion-button style="float: right; padding: 0px; margin: 0px;"
          fill="solid" color="warning" slot="end" [id]="'open-action-sheet-' + index">Más Acciones</ion-button>
        </ion-label>
      </ion-item>
      <ion-action-sheet *ngFor="let item of items; let index" [trigger]="'open-action-sheet-' + index"
        header="Más Acciones" [buttons]="actionSheetButtons"></ion-action-sheet>
    </ion-list>
    <ion-infinite-scroll>
      <ion-infinite-scroll-content loadingText="Cargando..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
</ion-content>