<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>    
    <ion-buttons slot="end">
      <ion-button type="submit" form="addUserForm" fill="clear" expand="full">
        Agregar
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header class="ion-text-center" color="primary">Formulario Usuarios</ion-card-header>
  <form id="addUserForm" (ngSubmit)="agregarUsuario()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="pNombre" name="pNombre" required minlength="2" #pNombreCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="pNombreCtrl.invalid && (pNombreCtrl.dirty || pNombreCtrl.touched)" class="error-message">
      El primer nombre es obligatorio y debe tener al menos 2 caracteres.
    </div>

    <ion-item>
      <ion-label position="floating">Apellido Paterno</ion-label>
      <ion-input type="text" [(ngModel)]="aPaterno" name="aPaterno" required minlength="2" #aPaternoCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="aPaternoCtrl.invalid && (aPaternoCtrl.dirty || aPaternoCtrl.touched)" class="error-message">
      El apellido paterno es obligatorio y debe tener al menos 2 caracteres.
    </div>

    <ion-item>
      <ion-label position="floating">Segundo Nombre (Opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="sNombre" name="sNombre" #sNombreCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="sNombreCtrl.invalid && (sNombreCtrl.dirty || sNombreCtrl.touched)" class="error-message">
      El segundo nombre debe tener al menos 2 caracteres y no contener números.
    </div>

    <ion-item>
      <ion-label position="floating">Apellido Materno (Opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="aMaterno" name="aMaterno" #aMaternoCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="aMaternoCtrl.invalid && (aMaternoCtrl.dirty || aMaternoCtrl.touched)" class="error-message">
      El apellido materno debe tener al menos 2 caracteres y no contener números.
    </div>

    <ion-item>
      <ion-label position="floating">Empresa (Opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="empresa" name="empresa" (ionChange)="onFieldsChange()" #empresaCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="empresaCtrl.invalid && (empresaCtrl.dirty || empresaCtrl.touched)" class="error-message">
      El nombre de la empresa debe tener al menos 3 caracteres y solo puede contener letras, números y espacios.
    </div>

    <ion-item>
      <ion-label position="floating">Descripcion Empresa (Opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="descEmpresa" name="descEmpresa" (ionChange)="onFieldsChange()" #descEmpresaCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="descEmpresaCtrl.invalid && (descEmpresaCtrl.dirty || descEmpresaCtrl.touched)" class="error-message">
      La descripción de la empresa debe tener al menos 10 caracteres y máximo 90, solo puede contener letras, números y espacios.
    </div>
 
    <ion-item>
      <ion-label position="floating">Estado Usuario</ion-label>
      <ion-select [(ngModel)]="estadoUsuario" name="estadoUsuario" required #estadoUserCtrl="ngModel">
        <ion-select-option value="active">Cuenta Activa</ion-select-option>
        <ion-select-option value="disabled">Cuenta Deshabilitada</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="estadoUserCtrl.invalid && (estadoUserCtrl.dirty || estadoUserCtrl.touched)" class="error-message">
      El estado del Usuario es obligatorio.
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required email #emailCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="error-message">
      El email es obligatorio y debe tener un formato válido.
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required minlength="10" #passwordCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error-message">
      La contraseña es obligatoria y debe tener al menos 10 caracteres.
    </div>

    <br/>

    <ion-item>
      <ion-label>Región</ion-label>
      <ion-select [(ngModel)]="region" name="region" required #regionCtrl="ngModel" (ionChange)="onRegionChange($event)">
        <ion-select-option value="arica">Región de Arica y Parinacota</ion-select-option>
        <ion-select-option value="tarapaca">Región de Tarapacá</ion-select-option>
        <ion-select-option value="antofagasta">Región de Antofagasta</ion-select-option>
        <ion-select-option value="atacama">Región de Atacama</ion-select-option>
        <ion-select-option value="coquimbo">Región de Coquimbo</ion-select-option>
        <ion-select-option value="valparaiso">Región de Valparaíso</ion-select-option>
        <ion-select-option value="metropolitana">Región Metropolitana de Santiago</ion-select-option>
        <ion-select-option value="ohiggins">Región del Libertador General Bernardo O'Higgins</ion-select-option>
        <ion-select-option value="maule">Región del Maule</ion-select-option>
        <ion-select-option value="nuble">Región de Ñuble</ion-select-option>
        <ion-select-option value="biobio">Región del Biobío</ion-select-option>
        <ion-select-option value="araucania">Región de La Araucanía</ion-select-option>
        <ion-select-option value="rios">Región de Los Ríos</ion-select-option>
        <ion-select-option value="lagos">Región de Los Lagos</ion-select-option>
        <ion-select-option value="aysen">Región de Aysén</ion-select-option>
        <ion-select-option value="magallanes">Región de Magallanes y de la Antártica Chilena</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="regionCtrl.invalid && (regionCtrl.dirty || regionCtrl.touched)" class="error-message">
      La región es obligatoria.
    </div>
  
    <ion-item>
      <ion-label>Comuna</ion-label>
      <ion-select [(ngModel)]="comuna" name="comuna" required #comunaCtrl="ngModel" [disabled]="!selectedRegion">
        <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">{{ comuna }}</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="comunaCtrl.invalid && (comunaCtrl.dirty || comunaCtrl.touched)" class="error-message">
      La comuna es obligatoria.
    </div>      

  <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="direccion" name="direccion" required #dirCtrl="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="dirCtrl.invalid && (dirCtrl.dirty || dirCtrl.touched)" class="error-message">
      La dirección es obligatoria y debe tener un formato válido.
    </div>

  </form>
</ion-card>
</ion-content>

