<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Error en la app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-center">
  <div style="position: relative; display: flex; justify-content: center; align-items: center;">
    <img src="../assets/icon/Error.png" />
    <mat-spinner style="position: absolute;"></mat-spinner>
  </div>
  <ion-card class="ion-text-center ion-padding ion-margin-horizontal" color="danger">
    <h5>¡Hubo un error en la aplicación!<br> Por favor reinicie la app</h5>
  </ion-card>
</ion-content>