<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline" [routerDirection]="'back'" [routerLink]="'/vendedor-page'">Volver</ion-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="agregarProducto()">
    <ion-item>
      <ion-label>Nombre del Producto</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="descripcion" name="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precio" name="precio" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Stock</ion-label>
      <ion-input type="number" [(ngModel)]="stock" name="stock" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Orgánico</ion-label>
      <ion-toggle [(ngModel)]="organico" name="organico" value="1"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select (ionChange)="onCategoriaChange($event.detail.value)" required>
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Subcategoría</ion-label>
      <ion-select [(ngModel)]="subcategoriaId" name="subcategoriaId" required>
        <ion-select-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{ subcategoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Agregar Producto</ion-button>
  </form>
</ion-content>