<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerDirection]="'back'" [routerLink]="'/admin-page'">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>  
    <ion-button slot="end" (click)="agregar()">
      <ion-icon name="add-outline">  </ion-icon>
    </ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-searchbar 
    placeholder="Buscar Categoría(s)" 
    [(ngModel)]="searchTerm" 
    (ionInput)="searchCategorias()">
  </ion-searchbar>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let cat of filteredCategorias">
      <ion-label>
        <h5>ID Categoría: {{ cat.id }}</h5>
        <p>Nombre Categoría: {{ cat.nombre }}</p>
      </ion-label>
      <ion-button 
        fill="solid" 
        color="warning" 
        slot="end" 
        (click)="presentActionSheet(cat)" 
        style="padding: 0; margin: 0;">
        Más Acciones
      </ion-button>
    </ion-item>
    <ion-item *ngIf="filteredCategorias.length === 0">
      <ion-label>
        <h5>Ups... Categoría(s) no encontrada(s).</h5>
        <P>Deje la barra de búsqueda vacía o busque nuevamente lo que desea.</P>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
