<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ng-container *ngIf="filtrados && filtrados.length > 0; else noProducts">
      <ion-list>
        <ion-item *ngFor="let producto of filtrados">
          <ion-card>
            <ion-card-header>
              <ion-avatar style="background-color: #F5F5DC; margin: 10px;">
                <img *ngIf="producto.foto_producto" [src]="producto.foto_producto" alt="avatar" />
              </ion-avatar>
              <ion-card-title>{{ producto.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ producto.descripcion }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Precio:</strong> $ {{ producto.precio }}</p>
              <p><strong>Stock:</strong> {{ producto.stock }}</p>
              <ion-button color="primary" (click)="verDetalle(producto.id)">
                Acceder
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-template #noProducts>
      <ion-text color="danger">
        <ion-card class="ion-text-center">No se encontró información de productos</ion-card>
      </ion-text>
    </ng-template>
  </ion-card>
</ion-content>