<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu de Productos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="flex-center">
  <ion-card>
  <ion-list>
    <ion-searchbar animated="true" placeholder="Buscar Producto"></ion-searchbar>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/icon/favicon.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Producto 1</b></h2>
        <h3><b>Valor:</b> $10.00</h3>
        <p><b>Descripción del producto 1</b></p>
      </ion-label>
      <ion-button expand="block" fill="outline" slot="end">
        Agregar
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/icon/favicon.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Producto 2</b></h2>
        <h3><b>Valor:</b> $12.00</h3>
        <p><b>Descripción del producto 2</b></p>
      </ion-label>
      <ion-button expand="block" fill="outline" slot="end">
        Agregar
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/icon/favicon.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Producto 3</b></h2>
        <h3><b>Valor:</b> $24.00</h3>
        <p><b>Descripción del producto 3</b></p>
      </ion-label>
      <ion-button expand="block" fill="outline" slot="end">
        Agregar
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/icon/favicon.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Producto 4</b></h2>
        <h3><b>Valor:</b> $35.00</h3>
        <p><b>Descripción del producto 4</b></p>
      </ion-label>
      <ion-button expand="block" fill="outline" slot="end">
        Agregar
      </ion-button>
    </ion-item>

  </ion-list>
</ion-card>
</ion-content>